.bi-twitter{
  font-size: 30px;
}
.img-login{
    height: 675px;
    background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img-login .bi-twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 190px;
    font-size: 200px;
    
}
.t-1{
    margin-top: 30px;
    font-size: 60px;
    font-weight: bold;
}
.t-2{
    margin-top: 30px;
    font-weight: bold;
}
.main-login .dk{
  margin-top: 30px;
}
.main-login .dk .signup{
    font-size: 20px;
    line-height: 20px;
    border-radius: 20px;
    width: 310px;
    height: 40px;
}
.main-login .dk p{
    font-size: 13px;
}
.main-login .dk p a{
    text-decoration: none;
}
.main-login .login .signin{
    font-size: 20px;
    line-height: 20px;
    border-radius: 20px;
    width: 310px;
    height: 40px;
}
footer ul li{
    font-size: 10px;
    margin:-4px;
}
footer .footer2{
    font-size: 10px;
}
/*signup*/
.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 5%;
  }
  
  .form-signup .checkbox {
    font-weight: 400;
  }
  
  .form-signup .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signup .bi-twitter{
      color: dodgerblue;
      font-size: 50px;
      margin-left: 120px;
     
      
  }
  .btn{
  border-radius: 25px;
  }
  .copy{
    margin-left: 120px;
  }
  .form-signup .h3{
    margin-left: 40px;
  }
  /*signin*/
  .form-signin .bi-twitter{
    font-size: 50px;
    color: rgb(29, 155, 240);
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin:auto;
    margin-top:110px;
  }
  .form-signin .bi-twitter{
    margin-left:120px;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="tên đăng nhập"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="mật khẩu"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signin .btn{
      border-radius: 30px;
  }
.form-signin .footer-copy{
    margin-left: 120px;
}
.input-group-text {
  border-radius: 100px;
}
/* sidebar  */
.sidebar .bi-twitter{
  font-size: 30px;
}
.sidebar .bi-twitter:hover{
  background-color: rgb(208, 215, 253);
  border-radius: 30px;
}
.sidebar ul li:hover{
  background-color: rgb(228, 228, 228);
  border-radius: 30px;
}
.sidebar ul .btn_tweet{
  border-radius: 30px;
  width: 180px;
  font-size: 24px;
}
.sidebar ul .dropup{
 position: fixed;
 bottom: 0;
}
.sidebar ul .dropup .dropdown-menu{
  border-radius:15px; 
}
/* main home */
.home_main{
  position: fixed;
  top: 0;
}
.tweet-status .status form textarea{
outline: none;
border: none;
resize: none;
width:100%;
font-size: 25px;
margin-left: 8px;
}
.tweet-status .status form input{
  color: white ;
  border:none ;
  padding: 6px 24px;
  font-size: 18px;
}
#submit-tweet-button:disabled{
  cursor: not-allowed !important;
  background-color: rgb(132, 132, 233);
}
#submit-tweet-button:enabled{
  cursor: pointer !important;
}
#tweet_post input{
border-radius:30px;
}
.post-tweet .post:hover{
  background-color: rgb(248, 248, 248);
}
.post-tweet .post_header .Name{
  text-decoration: none;
  color: black;
}
.post-tweet .post_header .Name:hover{
  text-decoration: underline;
}
.post-tweet .post_header .post_header_right{
  width: 30px;
  height: 25px;
  margin-right: 20px;
  border-radius: 100px;
}
.post-tweet .post_header .post_header_right:hover{
  background-color: rgb(208, 215, 253);
  color: rgb(117, 127, 194);;
}
.post-tweet .post_footer a{
  border-radius: 100px;
  color: black;
}
.post-tweet .post_footer a:hover{
  background-color: rgb(194, 203, 253);
  color: blue;
}
.post-tweet .post_footer a .bi-heart{
  border-radius: 100px;
}
.post-tweet .post_footer a .bi-heart:hover{
  background-color: rgb(255, 210, 210);
  color: red;
}
/* search  */
.search .form-control{
border-radius: 30px;
}
.header-home .bi-gear:hover{
  background-color:   rgb(233, 233, 233);
  border-radius: 30px;
}
.header-home .t-trends a{
  text-decoration: none;
}
.search ul li{
  width: 100%;
}
.search ul li:hover{
   background-color:rgb(230, 230, 230);
}
.follow-suggestion .follow{
  font-size: 11px;
}
.follow-suggestion input{
  color: white ;
  border:none ;
  padding: 6px 10px;
  font-size: 18px;
  border-radius: 30px;
}
.footer-right a{
     font-size: 10px;
     float: left;
     padding-right: 0px;
     list-style-type:none;
}
footer .f-right {
  font-size: 12px;
  margin-left: 120px;
}

/*notifications*/
.container .bi2{
  color: blueviolet;
 
}
.col-md-6 .nav-item:hover{
  background-color:rgb(230, 230, 230);
}
/*main-explore*/
.mainexplore{
  padding: 0%;
}
.search-container{
  border-radius: 30px;
}
.input-group{
  width: 450px;
  border-radius: 100px;
  margin-left: 30px;
}
.trend_container{
  padding: 0%;

}
.trend_text{
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 20px;
  margin-left: 10px;
}
.trend_text-1{
  margin-top: 20px;
  
}
.trend_text-1:hover{
  background-color:rgb(231,233,235) ;
}
/*search-explore*/

.container-fluid row:hover{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.col-md-2 input{
  border-radius: 30px;
}

 .show-more:hover{
  background-color: rgb(231,233,235);
}
.show-more{
  padding: 15px;
}
.show-more a{
  color: var(--twitter-color);
}
.show-more:hover{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* Message */
.message-left{
  padding: 0;
}
.message-left ul li:hover{
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
}
.message-left nav form input{
  border-radius: 50px;
}
.message-left a:hover{
  background-color: rgb(245, 245, 245);
}
.message-right .no-mesage a{
   border-radius: 50px;
} 
.message-right #model-message .modal-body a:hover{
  background-color: rgb(245, 245, 245);
}