.sidebar .bi-twitter{
  font-size: 30px;
}
.img-login{
    height: 675px;
    background-image: url("/img/login.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img-login .bi-twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 190px;
    font-size: 200px;
    
}
.t-1{
    margin-top: 30px;
    font-size: 60px;
    font-weight: bold;
}
.t-2{
    margin-top: 30px;
    font-weight: bold;
}
.main-login .dk{
  margin-top: 30px;
}
.main-login .dk button{
    font-size: 20px;
    line-height: 20px;
    border-radius: 20px;
    width: 310px;
    height: 40px;
}
.main-login .dk p{
    font-size: 13px;
}
.main-login .dk p a{
    text-decoration: none;
}
.main-login .login button{
    font-size: 20px;
    line-height: 20px;
    border-radius: 20px;
    width: 310px;
    height: 40px;
}
footer ul li{
    font-size: 10px;
    margin:-4px;
}
footer .footer2{
    font-size: 10px;
}
/*signup*/
.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 5%;
  }
  
  .form-signup .checkbox {
    font-weight: 400;
  }
  
  .form-signup .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .bi-twitter{
      color: dodgerblue;
      font-size: 50px;
      margin-left: 120px;
     
      
  }
  .btn{
  border-radius: 25px;
  }
  .copy{
    margin-left: 120px;
  }
  .form-signup .h3{
    margin-left: 40px;
  }

